.title {
  font-family: $font-family-1;

  &.-big {
    font-size: $font-size-big;
    letter-spacing: 1.5px;
  }
}

.paragraph {
  font-family: $font-family-1;
  line-height: 1.8;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  margin-top: 20px;
}

.code {
  margin-top: 20px;
  padding: 20px;
  font-family: $font-family-1;
  background-color: $color-3;
  font-size: $font-size-xsmall;
}
